html, body {
  overflow: auto;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e1e;
  width: 100vw;
}

body::-webkit-scrollbar {
  width: 0.25em;
}

body::-webkit-scrollbar-track {
  background: #404040
}

body::-webkit-scrollbar-thumb {
  background: #dedede
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

/* Third Page */

.thirdPageContainer {
  display: flex;
  height: 100%;
  width: 100%;
}

/* Nav Component */

.sideNav {
  display: flex;
  flex-direction: column;
  height: 98vh;
  box-shadow: 0.5em 0 1em 0 rgba(0,0,0,0.5);
  z-index: 990;
  top: 0;
  color: #fefefe;
  position: sticky;
  background-color: #1e1e1e;
  margin-right: 3em;
}

.closed {
  width: 4em;
  text-align: center;
}

.open {
  width: 19.7em;
  text-align: left;
  padding-left: 1.3em;
}

.sideNav ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%
}

.sideNav li {
  margin-bottom: 1em;
  list-style-type: none;
  font-size: 1.5em;
}

.sideNav li:nth-child(1) {
  margin-top: 1em;
}

.sideNav li:nth-child(4) {
  margin-top: auto;
}

.sideNav li a {
  display: flex;
  align-items: center;
  line-height: 0;
}

.sideNav li a p {
  margin-left: 1em;
}

.logoButton {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: 0;
}

.logoButton p {
  margin-left: 1em;
}

.sideNavButton {
  all: unset;
  height: 100%;
  cursor: pointer;
}

.icon {
  width: 30px;
}

/* Button Component */

.filterButtonContainer {
  width: 90%;
  height: 3em;
  margin-bottom: 1.5em;
  margin-top: 3em;
  display: flex;
}

.filterButton {
  all: unset;
  margin-top: 0.5em;
  margin-right: 0.5em;
  background-color: #333333;
  border: 2px solid #1a1a1a;
  border-radius: 1em;
  padding: 0 0.4em;
  color: #d9d9d9;
  cursor: pointer;
  position: relative;
}

/* Tooltip Animation Section */
.filterButton::before,
.filterButton::after {
  --scale: 0;
  --tooltip-color: rgba(102, 102, 102, 0.9);
  --arrow-size: 10px;

  content: '';
  position: absolute;
  bottom: -.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: top center;
}

.filterButton::after {
  --translate-y: calc(110% - var(--arrow-size));

  content: attr(data-tooltip);
  color: white;
  background: var(--tooltip-color);
  padding: 0.5em;
  width: max-content;
  width: 100%;
  border-radius: .3em;
  text-align: center;
}

.filterButton:hover::after,
.filterButton:hover::before {
  --scale: 1;
}

.filterButton::before {
  --translate-y: calc(-1 * var(--arrow-size + 10%));

  content: '';
  border: var(--arrow-size) solid transparent;
  border-bottom-color: var(--tooltip-color);
  transform-origin: bottom center;
}

/* -------------- */

.filterButton > p {
  font-size: 1em;
  line-height: 0.2;
}

.active {
  color: #333333;
  background-color: #d9d9d9;
}

/* Info Box Component */

.infoBoxWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-left: 0;
  gap: 1em 1em;
}

.infoBoxContainer {
  display: grid;
  height: 15rem;
  width: 15rem;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 25% 25% 25% 25%;
  color: #fefefe;
  text-shadow: 1px 1px 3px grey;
  font-size: 1.5em;
  border-radius: 1em;
  padding: 0.6em;
  background-size: cover;
  background-position: center;
  background-color:#333333;
}

.infoBoxContainer:hover {
  box-shadow: 0em 0em 0.9em 0.3em #333333;
}

.infoBoxContainerButton {
  all: unset;
  cursor: pointer;
}

.infoTopLeft {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  margin-top: 0;
}

.infoTopRight {
  grid-row: 1/ 2;
  grid-column: 3 / 5;
  margin-top: 0;
  text-align: right;
}

.infoCityName {
  grid-row: 2/4;
  grid-column: 1/5;
  text-align: center;
  font-size: 1.2em;
  margin-bottom:0;
  margin-top: 0.8em;
}

.infoBottomLeft {
  grid-row: 4 / 5;
  grid-column: 1 / 3;
  margin-top: 2em;
  font-size: 0.8em;
}

.infoBottomRight {
  grid-row: 4 / 5;
  grid-column: 3 / 5;
  margin-top: 2em;
  text-align: right;
  font-size: 0.8em;
}

/* Info Box Modal Component */

.infoBoxModalWrapper {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  z-index: 800;
  padding-top: 2em;
}

.infoBoxModalContainer {
  height: 90%;
  width: 70%;
  border-radius: 1.7em;
  z-index: 990;
}

.modalHeader {
  background-color: #1e1e1e;
  background-size: 'cover';
  background-position: 'center';
  height: 9em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  color:#dedede;
  font-size: 1.6em;
  background-size: cover;
  background-position: center;
}

.modalTitleContainer {
  display: grid;
  height: 65%;
  grid-template-columns: 30% 40% 30%;
}

.modalTitleCountryRegion {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  text-align: center;
  grid-column: 2/3;
}

.modalTitleExitContainer {
  display: flex;
  grid-column: 3/3;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 1.5em;
}

.exitButton {
  all: unset;
  cursor: pointer;
  margin-right: 1.3em;
}

.modalButtonContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height:35%;
}

.modalButton {
  all: unset;
  background-color: #595959;
  width: 19%;
  cursor: pointer;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  height: 50%;
  font-size: 0.9em;
  text-align: center;
}

.modalButton.clicked {
  background-color: #333333;
}

.modalButton:hover {
  box-shadow: 0em 0em 0.5em 0.1em #333333 ;
  z-index: 5;
}

.modalContentWrapper {
  height: 85%;
  display: flex;
  background-color: #333333;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  color: white;
}

.modalContentContainer {
  background-color: #333333;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.modalContent {
  background-color: #585858;
  height: 96.5%;
  width: 96.5%;
  border-radius: 1em;
}

/* Modal  >>> Information Tab */

.infoTabWrapper {
  display: flex;
  width: 100%;
}

.infoTabContent {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 80%;
  padding: 1em;
  justify-content: space-between;
}

.incomeClassContainer {
  display: flex;
  font-size: 1.2em;
  align-items: center;
}

.incomeClassContainer > p {
  margin: 0
}

.gniTable {
  display: flex;
  width: 100%;
  margin-top: 1em;
}

.gniContent {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.gniContent > p {
  margin: 0;
  border: solid 1.5px #333333;
  background-color: #404040;
}

.gniContent > p:nth-child(2) {
  background-color: #4d4d4d;
}

.populationBarContainer {
  display: flex;
  font-size: 3em;
  align-items: center;
}

.populationBar {
  height: 0.5em;
  background-color: #d9d9d9;
  position: relative;
  border-radius: 1em;
  width: 80%;
}

.populationBarProgress {
  height: 0.5em;
  background-color: rgb(76, 192, 38);
  position: absolute;
  border-radius: 1em;
  display: flex;
  align-items: center;
}

.populationBar > p {
  font-size: 0.4em;
  margin: 0;
  margin-left: 0.6em;
  color: black;
  position: absolute;
  z-index: 1;
  font-weight: 500;
}

.infoTabMapContainer {
  width: 40%;
  padding: 1em;
  height: auto;
}

.infoTabMap {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 1em;
}

.ruralLife {
  padding: 1em;
  width: 100%;
}

.ruralContentWrapper {
  display: flex;
  justify-content: center;
}

.ruralLifeContentContainer {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}

.ruralContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5em;
  text-align: center;
  width: 33%;
}

.ruralContent > h4 {
  margin-bottom: 0.2;
}

.ruralContent > p {
  margin: 0;
}

.ruralLife {
  padding: 1em;
  width: 100%;
}

.ruralContentWrapper {
  display: flex;
  justify-content: center;
}

.ruralLifeContentContainer {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}

.ruralContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5em;
  text-align: center;
  width: 33%;
}

.ruralContent > h4 {
  margin-bottom: 0.2;
}

.ruralContent > p {
  margin: 0;
}

.urbanLife {
  padding: 1em;
  width: 100%;
}

.urbanContentWrapper {
  display: flex;
  justify-content: center;
}

.urbanLifeContentContainer {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}

.urbanContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5em;
  text-align: center;
  width: 33%;
}

.urbanContent > h4 {
  margin-bottom: 0.2;
}

.urbanContent > p {
  margin: 0;
}

.urbanLife {
  padding: 1em;
  width: 100%;
}

.urbanContentWrapper {
  display: flex;
  justify-content: center;
}

.urbanLifeContentContainer {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}

.urbanContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5em;
  text-align: center;
  width: 33%;
}

.urbanContent > h4 {
  margin-bottom: 0.2;
}

.urbanContent > p {
  margin: 0;
}

/* Modal  >>> Food and Agriculture Tab */

.foodAndAgrWrapper {
  padding-top: 0.5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foodAndAgrWrapper > h1 {
  line-height: 0;
  margin-bottom: 1.5em;
}

.foodAndAgrWrapper > h1:nth-child(3) {
  text-align: center;
  margin-left: 20em;
}

.fAANutrition {
  display: flex;
  width: 100%;
  margin-bottom: 3em;
  margin-left: 3em;
}

.fAANutrition > div {
  width: 100%;
  padding-left: 4em;
  font-size: 1.5em;
}

.fAANutritionFactList {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 3em;
}

.fAANutritionFactPositive {
  width: 50%;
}

.fAANutritionFactNegative {
  width: 50%;
}

.fAANutritionFactItem {
  margin-top: 0;
}

.fAACrops {
  display: flex;
  width: 100%;
}

.fAACrops > div {
  width: 50%;
  font-size: 1.5em;
  vertical-align: middle;
}

.fAACropFacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4em;
}

.fAACropFactItem {
  display: flex;
  margin-bottom: 0.8em;
}

.fAACropFactItem > p {
  margin-top: 0.2em;
}

.fAACropIcon {
  width: 2em;
  font-size: 2em;
}

.fAACrops > span {
  width: 50%;
  padding-right: 1em;
}

.fAAAgriculutureFacts {
  display: flex;
  justify-content: center;
  width: 60%;
  margin-bottom: 3em;
}

table, tr, td {
  background-color: #737373;
  border: 2px solid #333333;
  border-collapse: collapse;
}

table {
  width: 100%;
}

tr {
  width: 50%;
}

td {
  width: 50%;
  text-align: center;
}

.fAAWasteBreakdown {
  display: flex;
  width: 95%;
  flex-direction: column;
  margin-bottom: 1em;
}

.fAAWasteBreakdownInfo {
  display: flex;
  flex-direction: row;
}

.fAAWasteCapita {
  width: 50%;
}

.fAAWasteDistribution {
  width: 50%;
}

.fAAWasteContent {
  display: flex;
  margin-bottom: 1em;
  font-size: 1.2em;
}

.fAAWasteContent > p {
  margin-top: 0.7em;
}

.fAABadOutcome {
  background-color: rgb(241, 101, 101);
  width: 95%;
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 1em;
}

.fAABadOutcomeInfoWrapper {
  display: flex;
}

.fAABadOutcomeInfo {
  width: 50%;
}

.fAABadOutcomeTableWrapper {
  width: 50%;
}

/* Doughnut Component */


/* Media Screens */

@media screen and (min-width: 1331px) and (max-width: 1610px) {
  .infoBoxWrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1066px) and (max-width: 1331px) {
  .infoBoxWrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 814px) and (max-width: 1066px) {
  .infoBoxWrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 0px) and (max-width: 814px) {
  .infoBoxWrapper {
    grid-template-columns: 1fr;
  }

  .filterButton {
    margin-top: 0;
  }

  .filterButton > p {
    font-size: 1em;
    line-height: 1;
    white-space: initial;
    margin-block-start: 0.3em;
  }
}