html, body {
  overflow: auto;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e1e;
  width: 100vw;
}

body::-webkit-scrollbar {
  width: 0.25em;
}

body::-webkit-scrollbar-track {
  background: #404040
}

body::-webkit-scrollbar-thumb {
  background: #dedede
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

/* Third Page */

.thirdPageContainer {
  display: flex;
  height: 100%;
  width: 100%;
}

/* Nav Component */

.sideNav {
  display: flex;
  flex-direction: column;
  height: 98vh;
  box-shadow: 0.5em 0 1em 0 rgba(0,0,0,0.5);
  z-index: 990;
  top: 0;
  color: #fefefe;
  position: sticky;
  background-color: #1e1e1e;
  margin-right: 3em;
}

.closed {
  width: 4em;
  text-align: center;
}

.open {
  width: 19.7em;
  text-align: left;
  padding-left: 1.3em;
}

.sideNav ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%
}

.sideNav li {
  margin-bottom: 1em;
  list-style-type: none;
  font-size: 1.5em;
}

.sideNav li:nth-child(1) {
  margin-top: 1em;
}

.sideNav li:nth-child(4) {
  margin-top: auto;
}

.sideNav li a {
  display: flex;
  align-items: center;
  line-height: 0;
}

.sideNav li a p {
  margin-left: 1em;
}

.logoButton {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: 0;
}

.logoButton p {
  margin-left: 1em;
}

.sideNavButton {
  all: unset;
  height: 100%;
  cursor: pointer;
}

.icon {
  width: 30px;
}

/* Button Component */

.filterButtonContainer {
  width: 90%;
  height: 3em;
  margin-bottom: 1.5em;
  margin-top: 3em;
  display: flex;
}

.filterButton {
  all: unset;
  margin-top: 0.5em;
  margin-right: 0.5em;
  background-color: #333333;
  border: 2px solid #1a1a1a;
  border-radius: 1em;
  padding: 0 0.4em;
  color: #d9d9d9;
  cursor: pointer;
  position: relative;
}

/* Tooltip Animation Section */
.filterButton::before,
.filterButton::after {
  --scale: 0;
  --tooltip-color: rgba(102, 102, 102, 0.9);
  --arrow-size: 10px;

  content: '';
  position: absolute;
  bottom: -.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: top center;
}

.filterButton::after {
  --translate-y: calc(110% - var(--arrow-size));

  content: attr(data-tooltip);
  color: white;
  background: var(--tooltip-color);
  padding: 0.5em;
  width: max-content;
  width: 100%;
  border-radius: .3em;
  text-align: center;
}

.filterButton:hover::after,
.filterButton:hover::before {
  --scale: 1;
}

.filterButton::before {
  --translate-y: calc(-1 * var(--arrow-size + 10%));

  content: '';
  border: var(--arrow-size) solid transparent;
  border-bottom-color: var(--tooltip-color);
  transform-origin: bottom center;
}

/* -------------- */

.filterButton > p {
  font-size: 1em;
  line-height: 0.2;
}

.active {
  color: #333333;
  background-color: #d9d9d9;
}

/* Info Box Component */

.infoBoxWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-left: 0;
  gap: 1em 1em;
}

.infoBoxContainer {
  display: grid;
  height: 15rem;
  width: 15rem;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 25% 25% 25% 25%;
  color: #fefefe;
  text-shadow: 1px 1px 3px grey;
  font-size: 1.5em;
  border-radius: 1em;
  padding: 0.6em;
  background-size: cover;
  background-position: center;
}

.infoBoxContainer:hover {
  box-shadow: 0em 0em 0.9em 0.3em #333333;
}

.infoBoxContainerButton {
  all: unset;
  cursor: pointer;
}

.infoTopLeft {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  margin-top: 0;
}

.infoTopRight {
  grid-row: 1/ 2;
  grid-column: 3 / 5;
  margin-top: 0;
  text-align: right;
}

.infoCityName {
  grid-row: 2/4;
  grid-column: 2/4;
  margin-top: 1em;
  text-align: center;
  font-size: 1.2em;
}

.infoBottomLeft {
  grid-row: 4 / 5;
  grid-column: 1 / 3;
  margin-top: 2em;
  font-size: 0.8em;
}

.infoBottomRight {
  grid-row: 4 / 5;
  grid-column: 3 / 5;
  margin-top: 2em;
  text-align: right;
  font-size: 0.8em;
}

/* Info Box Modal Component */

.infoBoxModalWrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  z-index: 800;
}

.infoBoxModalContainer {
  background-color: #004d00;
  height: 80%;
  width: 70%;
  border-radius: 1.7em;
  z-index: 990;
  position: sticky;
  top: 2em;
}

.modalHeader {
  background-color: #1e1e1e;
  height: 15%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  color:#dedede;
  font-size: 1.6em;
  background-size: cover;
  background-position: center;
}

.modalTitleContainer {
  display: flex;
  height: 100%;
  height: 65%;
}

.exitButton {
  all: unset;
  cursor: pointer;
}

.modalButtonContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height:35%;
}

.modalButton {
  all: unset;
  background-color: #595959;
  width: 19%;
  cursor: pointer;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  height: 80%;
  font-size: 0.9em;
  text-align: center;
}

.modalButton.clicked {
  background-color: #333333;
}

.modalButton:hover {
  box-shadow: 0em 0em 0.5em 0.1em #333333 ;
  z-index: 5;
}

.modalContentWrapper {
  height: 85%;
  display: flex;
  background-color: #333333;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.modalContentContainer {
  background-color: #333333;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #595959;
  height: 96.5%;
  width: 96.5%;
  border-radius: 1em;
  display: flex;
}

/* Modal  >>> Information Tab */

.infoTabContent {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 80%;
  padding: 1em;
  justify-content: space-between;
}

.infoTabContent > div {
  background-color: #808080;
  border-radius: 1em;
  padding: 1em;
}

.infoTabMapLinks {
  display: flex;
  justify-items: center;
  padding: 1em;
}

@media screen and (min-width: 1331px) and (max-width: 1610px) {
  .infoBoxWrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1066px) and (max-width: 1331px) {
  .infoBoxWrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 814px) and (max-width: 1066px) {
  .infoBoxWrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 0px) and (max-width: 814px) {
  .infoBoxWrapper {
    grid-template-columns: 1fr;
  }

  .filterButton {
    margin-top: 0;
  }

  .filterButton > p {
    font-size: 1em;
    line-height: 1;
    white-space: initial;
    margin-block-start: 0.3em;
  }
}