body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e1e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Bad Outcome Component */

.boWrapper {
  display: inline-block;
  background-color: black;
  color: #dedede;
  font-size: 0.55em;
  padding: 1.2em;
  align-content: left;
  border-radius: 1em;
}

.boWrapper > p {
  margin: 0;
}

.boWrapper > h3 {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}

.boWrapperBolded {
  font-size: 1.6em;
  font-weight: bold;
}

.boWrapperSummary {
  font-size: 1.1em;
  font-weight: bold;
}

.boBubblesWrapper {
  display: flex;
  justify-content: space-between;
}

.boBubbles {
  margin: 0;
}

.boBubbles > p {
  border-radius: 0.8em;
  padding: 0.1em 0.5em;
  background-color: #3e7d4f;
}

.boBubbles:nth-of-type(1) {
  width:35%
}

.boBubbles:nth-of-type(2) {
  width:35%
}

.boBubbles:nth-of-type(3) {
  width:20%
}